.TestQuestion{
  text-align: left;
  section{
    border: 2px solid black;
    margin: 20px 0;
    border-radius: 20px;
  }
  h3{
    font-size: 25px;
    margin: 15px;
  }
  p{
    font-size: 23px;
    margin: 15px;
  }
}
